@if (paises().length > 0) {
    <div class="row mt-5 table-size" data-test="country-table">
        <div class="col">

            <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Flag</th>
                        <th>Name</th>
                        <th>Population</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @for (pais of paises(); track pais.capital; let i = $index) {
                        <tr>
                            <td> {{i+1}} </td>
                            <td> <img class="small-flag" [src]="pais.flags.png" alt="" srcset=""> </td>
                            <td> {{pais.capital}}, {{pais.name.common}} </td>
                            <td> {{pais.population | number}} </td>
                            <td> <button data-test="go-button" class="btn btn-outline-primary" [routerLink]="['/pais', pais.cca3]">Go</button> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>




}