<div>
  <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" width="30" height="24" class="d-inline-block align-text-top">
        Countries App
      </a>
    </div>
  </nav>
</div>

<div class="row container mt-4">
  <div class="col-3">
    <app-sidebar></app-sidebar>

  </div>

  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>