<h3>Look for region: <small>{{activeRegion() | titlecase}}</small></h3>

<h5>Select the region</h5>
<div class="row">
    <div class="col">
        <button 
            (click)="activarRegion(region)" 
            [class]="getClassCss(region )" 
            *ngFor="let region of regions()"
        >
            {{region | titlecase}}
        </button>
    </div>
</div>

@let regionsFound = rxRegions;

@if (regionsFound.isLoading()) {
    <div class="alert alert-info">
        Loading...
    </div>
} @else if (regionsFound.error()) {
    <div class="alert alert-danger">
        No results found for term: {{ activeRegion() }}
    </div>
} @else if (regionsFound.hasValue()) {   
    <app-pais-table [paises]="regionsFound.value()!"></app-pais-table>
}